html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    box-sizing: border-box;
    background: #222222;
    color: #dedede;
}

nav {
    display: flex;
    padding: 10px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

nav img{
    float: left;
    height: 70px;
    margin-left: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li{
    margin: 0;
    display: inline-block;
}

nav li a{
    padding: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: #dedede;
    text-decoration: none;
}

nav li a:hover, nav li a.active{
    border-bottom: solid 4px #dedede;
}


.detail {
    font-family: 'Vollkorn', serif;
}