html{
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    box-sizing: border-box;
    background: #222222;
    color: #dedede;
}

nav {
    display: flex;
    padding: 10px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

h1{
    font-family: "Noto Serif", serif;
}

h2{
    font-family: "Noto Serif", serif;

}

h3{
    font-family: "Noto Serif", serif;
}

nav img{
    height: 70px;
    margin-left: 50px;
}

nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
}

nav li{
    margin: 0;
    display: inline-block;
}

nav li a{
    padding: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: #dedede;
    text-decoration: none;
}

nav li a:hover, nav li a.active{
    border-bottom: solid 4px #dedede;
}

#hamburger{
    display: none;
}

.detail {
    font-family: 'Vollkorn', serif;
}

header {
    background-color: #222222;
    height: 100vh;
    padding: 50px 100px;
    box-sizing: border-box;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    color: #ffffff;
    animation: slideLeft 1s ease;
    animation-fill-mode: forwards;
}

header p{
    font-size: 1.5rem;
    font-family: 'Trade Winds', cursive;
    margin-bottom: 4em;
    animation: slideRight 1s ease;
    animation-fill-mode: forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-50%);
    }
    80%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(50%);
    }
    80%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(0);
    }
}

header a{
    margin: 1em 1em;
    background: transparent;
    padding: 1em 2em;
    color: #dedede;
    border: 3px solid #dedede;
    border-radius: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

header a.cv{
    box-shadow: 0 8px 0 #aaaaaa;
}

header a.cv:hover, header a.cv:active{
    position: relative;
    top: 8px;
    box-shadow: none;
}

header a.github:hover, header a.github:active{
    color: #222222;
    background: #dedede;
}

header a.direct{
    display: block;
    background: #dedede;
    color: #222222;
    width: 40px;
    height: 60px;
    font-size: 30px;
    line-height: 2;
    padding: 0 10px;
    border-radius: 50%;
    margin: 5em auto;
    animation: down 2s infinite;
}

@keyframes down{
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(100%);
    }
    500% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

section {
    padding: 30px 0;
    text-align: center;
}

section h2 {
    font-size: 3rem;
}

.introduction{
    background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,center/cover no-repeat url('/resources/img/background1.jpg') fixed;
    min-height: 80vh;
    color: #dedede;
    padding: 30px 10%;
}

.introduction p{
    font-size: 1.5em;
    text-indent: 3em;
    text-align: left;
    column-gap: 10%;
    column-count: 2;
    column-rule: 3px solid #dedede;
    line-height: 2;
}

.portfolio-web {
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: relative;
}

.portfolio-web:nth-child(even) {
    background: linear-gradient(90deg, rgb(67, 128, 221), rgb(135, 156, 179));
}

.portfolio-web:nth-child(odd) {
    background: linear-gradient(90deg, rgb(126, 76, 126), rgb(213, 109, 226));
}

.portfolio-web:nth-child(even)::after{
    content: "";
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 5em solid #0e62e0;
    border-right: 5em solid #0e62e0;
    border-left: 5em solid transparent;
    border-bottom: 5em solid transparent;
}

.portfolio-web:nth-child(odd)::after{
    content: "";
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 5em solid #dd60d3;
    border-right: 5em solid transparent;
    border-left: 5em solid #dd60d3;
    border-bottom: 5em solid transparent;
}

.portfolio-web a{
    display: block;
    width: 50%;
    margin: 1em auto;
    background: transparent;
    padding: 0.5em 1em;
    color: #dedede;
    border: 3px solid #dedede;
    border-radius: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.portfolio-web a:hover, .portfolio-web a:active{
    background: #dedede;
    color: #222222;
}

.meta-data {
    width: 60vw;
    text-align: left;
}

.meta-data p{
    padding-right: 2em;
    text-align: justify;
    line-height: 2;
    text-indent: 2em;
}

.meta-data h3{
    font-size: 3rem;
    margin: 1.5em;
    text-transform: capitalize;
}

.image-container{
    width: 40vw;
    height: 300px;
    position: relative;
}
.image-container img{
    width: 100%;
    height: 100%;
}

.image-container .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay{
    opacity: 1;
}

.image-container a{
    padding: 0.5em 1em;
    border: 2px solid #dedede;
    width: 60%;
    text-transform: uppercase;
    cursor: pointer;
}

.image-container a:hover, .image-container a:active{
    color: #222222;
    background: #dedede;
}

.tag-container{
    display: flex;
    flex-wrap: wrap;
}
.tag {
    background: #cccccc;
    color: #222222;
    padding: 0 0.5em;
    border-radius: 1em;
    font-size: 1.2em;
    margin: 0.5em 0.2em;
    font-style: italic;
}

.knowledge-container{
    display: flex;
    justify-content: space-around;
}

.knowledge-container h3{
    font-size: 2em;
    color: #aaaaaa;
    padding-bottom: 1em;
    border-bottom: 2px solid #aaaaaa;
    text-transform: capitalize;
}

.knowledge-container ul{
    list-style-image: url('/resources/img/tick.svg');
    text-align: center;
}

.knowledge-container li {
    width: 50%;
    font-size: 2em;
    padding: 0 2em;
    margin-bottom: 1em;
    margin-left: 2em;
}

.contact {
    background: linear-gradient(0,rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), center/cover no-repeat url('/resources/img/contact.jpg');
    min-height: 80vh;
}

.contact h2{
    color: #222222;
}

.contact button{
    margin: 1em 1em;
    background: transparent;
    padding: 1em 2em;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Caveat Brush', cursive;
    cursor: pointer;
    animation: loop 0.5s linear infinite;
    position: relative;
}


@keyframes loop {
    0% {
        top: 8px;
        box-shadow: none;
    }
    100% {
        top: 0;
        box-shadow: 0 8px 0 #222222;
    }
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.5);
    z-index: 1000;
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    color: #222222;
    padding: 2em;
    border-radius: 5px;
}

.modal .data{
    margin-bottom: 1em;
    font-size: 2em;
    display: flex;
    border-radius: 1em;
}

.data span:first-child{
    width: 30px;
    background: #222222;
    color: #dedede;
    padding: 0.5em 1em;
    border-radius: 1em 0 0 1em;
}

.data span:last-child{
    align-self: center;
    padding: 0.5em 1em;
    border: 2px solid #222222;
    flex: 1;
    border-radius: 0 1em 1em 0;
}

.modal .data:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 810px){
    header{
        padding: 20px 5%;
    }
    header h1 {
        font-size: 2rem;
    }
    nav {
        flex-wrap: wrap;
        overflow: hidden;
    }
    nav img{
        margin-left: 5px;
    }
    nav ul {
        display: none;
        width: 100vw;
    }
    nav li{
        display: block;
        text-align: center;
        margin-bottom: 2.5em;
        z-index: 1000;
    }
    #hamburger{
        display: block;
        background: transparent;
        color: #dedede;
        font-size: 2em;
        cursor: pointer;
        border: none;
        margin-right: 1em;
    }
    header a{
        display: block;
        margin-bottom: 2em;
    }
    .introduction{
        padding: 30px 5%;
    }
    .introduction p{
        column-count: 1;
        text-align: left;
        font-size: 1em;
        letter-spacing: 0;
        word-spacing: 0;
    }
    .portfolio-web {
        padding: 30px 5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .meta-data{
        width: 100vw;
    }
    .image-container{
        width: 80vw;
    }
    .knowledge-container{
        justify-content: center;
        flex-wrap: wrap;
    }

    .knowledge-container div{
        width: 80vw;
    }

    .modal-content{
        max-width: 100%;
    }
    .modal .data{
        font-size: 1em;
    }
}