header {
    background-color: #43a8ec;
    height: 600px;
    padding: 150px 100px;
    box-sizing: border-box;
}

header h1 {
    font-size: 4rem;
    color: #ffffff;
}

header p{
    font-size: 2rem;
}

article {
    padding: 30px 5%;
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.visible{
    animation: visible 1.5s ease;
}

article h2 {
    font-size: 3rem;
}

/* Professionals */
article .skill-container {
    background-color: #43a8ec;
    width: 80%;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px #807c7cce;
    color: #ffffff;
    margin: auto;
    padding: 20px 0;
}

article .skill-container ul{
    list-style-type: none;
    padding: 0;
}

article .skill-container ul li{
    margin: 30px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


article progress{
    -webkit-appearance: none;
    position: relative;
    animation: growing 2s;
}

article .skill-container span{
    width: 30%;
    padding: 0 15px;
}


article progress::-webkit-progress-bar{
    background-color: transparent;
    height: 30%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

article progress::-webkit-progress-value{
    background-image: linear-gradient(90deg, #87f572, #ebfca0);
    border-radius: 20px;
}

/* Portfolio */
.portfolio .portfolio-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
}

.portfolio .portfolio-item .project {
    background-color: #43a8ec;
    width: 28%;
    height: 500px;
    margin: 30px 0;
    box-shadow: 0 5px 10px 2px #807c7cce;
    cursor: pointer;
    transition: ease 0.3s;
}

.portfolio .portfolio-item .project:hover{
    transform: scale(1.1, 1.1);


}

.portfolio .portfolio-item .project img{
    height: 80%;
    width: 100%;
}

.portfolio .portfolio-item .project h3{
    color: #ffffff;
    height: 20%;
    font-size: 2rem;
    line-height: 3.33333;
    margin: 0;
    padding: 0;
}

.timeline{
    position: relative;
}

/* Vertical line in timeline */
.timeline::before{
    content: "";
    height: 100%;
    border: 3px solid #79c1f1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* timeline content */
.timeline .experience-container{
    position: relative;
    margin: 50px 0;
}
.timeline .experience-item{
    position: relative;
    width: 45%;
    box-shadow: 0 5px 10px 2px #807c7cce;
}

.timeline .experience-item h3 {
    background-color: #43a8ec;
    color: #ffffff;
    font-size: 2rem;
    line-height: 2;
    margin: 0;
    height: 50%;
}

.timeline .experience-item p {
    margin: 0;
    padding: 20px;
}

/* timeline content odd arrow*/
.timeline .experience-container:nth-child(odd) .experience-item::before{
    content: "";
    position: absolute;
    top: 20px;
    right: -10px;
    border-left: #43a8ec 10px solid;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* timeline content even arrow*/
.timeline .experience-container:nth-child(even) .experience-item::before{
    content: "";
    position: absolute;
    top: 20px;
    left: -10px;
    border-right: #43a8ec 10px solid;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* timeline content circle*/
.timeline .experience-container .circle{
    position: absolute;
    top: 20px;
    left: 50%;
    border: #9ed4f8 10px solid;
    border-radius: 50%;
    transform: translateX(-50%);
}

/* timeline content odd*/
.timeline .experience-container:nth-child(even) .experience-item{
    right: -55%;
}

/* Contact */
.contact-card {
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #43a8ec;
    box-shadow: 0 5px 10px 2px #807c7cce;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "introduction information"
        "introduction contact";
}

.contact-card .introduction{
    grid-area: introduction;
    padding: 0 10%;
    border-right: 1px solid #9ed4f8;
}

.contact-card .information{
    grid-area: information;
    color: #ffffff;
}

.contact-card .information ul{
    list-style-type: none;
    margin: 40px 0;
    padding: 0;
}

.contact-card .information ul li{
    line-height: 2;
}


.contact-card .contact{
    grid-area: contact;
    padding: 30px;
}

.contact-card .contact a{
    cursor: pointer;
    color: #43a8ec;
    text-decoration: none;
    background-color: #ffffff;
    font-size: 2rem;
    padding: 20px;
    border-radius: 5px;
    animation: glowing2 0.8s infinite ;
}

@keyframes glowing {
    0% { box-shadow: none;}
    100% {box-shadow: 0 0 20px #ffffffe0;}
}

@keyframes glowing2 {
    0% { padding:20px; }
    100% {padding:25px; box-shadow: 0 0 20px #ffffffe0;}
    /* 10% { box-shadow: none;} */
}

@keyframes visible {
    from {opacity: 0;}
    to {opacity: 100%;}
}